@import url(http://fonts.googleapis.com/css?family=Kaushan+Script);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300);
@import url(https://fonts.googleapis.com/css?family=Playfair+Display);
@font-face {
  font-family: 'mixbrushmedium';
  src: url('fonts/mixbrush-webfont.eot');
  src: url('fonts/mixbrush-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/mixbrush-webfont.woff2') format('woff2'), url('fonts/mixbrush-webfont.woff') format('woff'), url('fonts/mixbrush-webfont.ttf') format('truetype'), url('fonts/mixbrush-webfont.svg#mixbrushmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'olivierregular';
  src: url('fonts/olivier_demo-webfont.eot');
  src: url('fonts/olivier_demo-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/olivier_demo-webfont.woff2') format('woff2'), url('fonts/olivier_demo-webfont.woff') format('woff'), url('fonts/olivier_demo-webfont.ttf') format('truetype'), url('fonts/olivier_demo-webfont.svg#olivierregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'storymedium';
  src: url('fonts/story-webfont.eot');
  src: url('fonts/story-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/story-webfont.woff2') format('woff2'), url('fonts/story-webfont.woff') format('woff'), url('fonts/story-webfont.ttf') format('truetype'), url('fonts/story-webfont.svg#storymedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'storymedium';
  src: url('fonts/story-webfont.eot');
  src: url('fonts/story-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/story-webfont.woff2') format('woff2'), url('fonts/story-webfont.woff') format('woff'), url('fonts/story-webfont.ttf') format('truetype'), url('fonts/story-webfont.svg#storymedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'doodle_dings_1_birds_cagesRg';
  src: url('fonts/doodle_dings_1_birds_cages-webfont.eot');
  src: url('fonts/doodle_dings_1_birds_cages-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/doodle_dings_1_birds_cages-webfont.woff2') format('woff2'), url('fonts/doodle_dings_1_birds_cages-webfont.woff') format('woff'), url('fonts/doodle_dings_1_birds_cages-webfont.ttf') format('truetype'), url('fonts/doodle_dings_1_birds_cages-webfont.svg#doodle_dings_1_birds_cagesRg') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Playfair Display', serif;
  color: #f2f5eb;
}
.hero-unit {
  background: url('../img/hero_bg.jpg') no-repeat center top;
  background-repeat: no-repeat;
  height: 830px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #181818;
  text-shadow: #D4C8DC 1px 1px 32px;
}
.hero-unit .hero-title {
  font-family: 'mixbrushmedium';
  text-align: center;
  font-size: 10em;
  margin: 0;
  margin-bottom: -25px;
}
.hero-unit .hero-title sub {
  font-size: 0.4em;
  line-height: 0;
  display: block;
  vertical-align: middle;
  margin-top: -0.6em;
}
.hero-unit .hero-subtitle {
  font-family: 'olivierregular';
  margin: 0;
  font-size: 2.5em;
}
.hero-unit .birds {
  font-family: 'doodle_dings_1_birds_cagesRg';
  position: absolute;
  margin-top: 188px;
  margin-left: 218px;
  font-size: .2em;
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.hero-unit .birds .flying {
  display: none;
}
.nav-container {
  font-family: 'Raleway';
  text-shadow: #444444 1px 1px 1px;
  margin: 0;
  padding: 10px 0 5px 0;
  background-color: #c48ee7;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 2em;
}
.nav-container.scrolling {
  position: fixed;
  top: 0;
  width: 100%;
}
.nav-container .navbar-header {
  margin: 0 auto;
  text-align: center;
}
.nav-container .navbar-header a {
  color: #f2f2f2;
  padding: 15px 15px;
  font-size: 1.25em;
}
.nav-container .navbar-header a:hover {
  text-decoration: none;
  color: white;
}
html {
  background-color: #445893;
}
.content-bg {
  box-shadow: 0px 8px 16px #3F3B4C inset;
  background-size: cover !important;
}
.content-bg.about {
  background: url('../img/forest_bg.jpg') no-repeat center top;
}
.content-bg.details {
  background: url('../img/lake_bg.jpg') no-repeat center top;
}
.content-bg.registry {
  background: url('../img/fox_bg.jpg') no-repeat center top;
}
.content-bg.rsvp {
  background: url('../img/field_bg.jpg') no-repeat center top;
}
.content-container {
  background: rgba(119, 94, 188, 0.8);
  background: -webkit-linear-gradient(top, rgba(53, 53, 53, 0.4) 0%, rgba(203, 184, 216, 0.41) 20%, rgba(91, 82, 97, 0.41) 100%);
  background: linear-gradient(to bottom, rgba(53, 53, 53, 0.4) 0%, rgba(203, 184, 216, 0.41) 20%, rgba(91, 82, 97, 0.41) 100%);
  padding: 0 25px;
  margin: 0 auto;
  max-width: 800px;
  text-align: justify;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-shadow: #737171 1px 1px 0px;
}
.content-container .opener {
  margin-top: 1em;
}
.content-container a {
  color: #CAFAFA;
}
.content-container p {
  font-size: 2em;
  text-align: center;
}
.content-container .details-container {
  width: 100%;
}
.content-container .details-container .btn-primary {
  color: #000;
  background-color: #FFFFFF;
  border-color: #DFE0E4;
  margin-top: -5px;
  padding-left: 15px;
}
.content-container .details-container iframe {
  margin-top: 10px;
}
.content-container h1 {
  font-family: 'Raleway';
  text-shadow: #444444 1px 1px 1px;
  font-size: 6em;
  text-align: center;
  padding: 10px 0 10px 0;
}
.content-container .us {
  margin-top: 25px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 1px solid #fafafa;
}
.section:last-child {
  border-bottom: none;
}
@media (max-width: 860px) {
  .nav-container {
    font-size: 1.15em;
  }
}
.registry-link:hover,
.registry-link-sub:hover {
  text-decoration: none;
  color: #e6e6e6;
}
.registry-link {
  color: white;
}
.registry-link-sub {
  color: white;
  font-size: 2em;
  text-decoration: underline !important;
}
.no-padding {
  padding: 0;
}
.section.details {
  padding-bottom: 20px;
}
.details-block {
  margin-bottom: 10px;
}
.details-block img {
  border: 1px solid #BF8BDD;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #b686d7;
}
.details-block .accommodation-content {
  font-size: 0.55em;
  text-shadow: rgba(76, 76, 76, 0.51) 1px 1px 0px;
}
.details-block .accommodation-content h3 {
  margin: 0;
}
.details-block .accommodation-content p {
  text-align: left !important;
}
